#footer {
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: space-between;
  padding: 3rem 5rem;
  background: #fcfefd;
}
.col-1 {
  width: 45%;
}
#footer h2 {
  margin-bottom: 25px;
}
#footer h4 {
  font-weight: 300 !important;
  margin-top: 10px;
  cursor: pointer;
}
#footer h4:hover {
  color: #09a66d;
  text-decoration: underline;
}
#footer .icons-footer {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
